@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-titillium-web), sans-serif;
}

:root {
  --primary-color: #9353D3;
  --background: #FFFFFF;
}

[data-theme="dark"] {
  --primary-color: #180828;
  --background: #D2D2D2;
}